.example1{
    box-sizing: content-box;  
    width: 450px;
    height: 50px;
    padding: 50px;  
    text-align: center;
  }
.photo {
    height: 80px;
    margin:0;
    padding:0;
    border-radius: 10px;
    justify-content: center;
    display: inline-block;
    text-align: center;
    margin-left: 385px;

}

.fig{
    height: 400px;
    overflow: hidden; 
}

.imag{
    height:400px;
    border: solid rgb(18, 73, 157);
    border-width: 7px 7px 7px 7px;
    transition: all 3s linear;
}

.knowledge {
    background-color:rgb(163, 70, 70); 
    border: solid rgb(105, 10, 10);
    border-width: 15px 10px 15px 15px;
    text-align:center;
    font-size:120%;
}
.pi{ 
    text-align:center; 
    font-size:120%;
    border: 5px solid rgb(14, 104, 37);
    color: rgb(46, 224, 91);
}
.heading1{
    color:blue;
}
.c{
    text-align:center;
    color:rgb(255, 17, 0);
}
.tab{
    border:1px solid black;
    width: 50%;
    text-align:center;
    color: aquamarine;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: red;
  }

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #c9fd0d;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-link:focus, .nav-link:hover {
    color: #ca700a;
}

.cont{
    text-align:center; 
    font-size:220%;
    color: burlywood;
    margin-left: 0.1rem;
}

.cont-img1{
    width: 55px;
    float:left;
    margin-left: 15rem;
}

.cont-img2{
    width: 85px;
    float:left;
    margin-left: 1em;
}

.udl{
    text-decoration: underline;
}

.photo:hover{
    transform:scale(1.3);
}